@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap');

* {
    font-family: 'Rethink Sans', sans-serif;
    box-sizing: content-box;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #090D28;
    overflow-x: hidden;
}

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #090D28;
}


header {
    width: 1400px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    background-color: #090D28;

}


#logo {
    width: 80px;
    height: 80px;
}

#searchConteiner {
    width: 376px;
    height: 16px;
    background: #181B3A;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

#search {
    width: 360px;
    height: 26px;
    flex-shrink: 0;
    border-radius: 10px;

    background-color: #181B3A;
    background-size: contain;
    color: #686b8f;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border: none;
    border-radius: 10px;
    outline: none;

    padding: 10px 0;
}

#configCont {
    width: 33%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    gap: 42px;
}

#icon7days {
    width: 126px;
    height: 26px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border-radius: 10px;
    background: #181B3A;
    color: #AEAFBB;


}

#icon7days p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#icon7days p img {
    margin-right: 5px;
}


#modeLD {
    width: 108px;
    height: 36px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    border: 1px solid #4D5070;
    background: #181B3A;

    flex-shrink: 0;
}

#modeLD input {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    flex-shrink: 0;
}

#light {
    background-image:url("/img/svg/Header\ images/lightMode.svg")
}

.ellipse {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D5070;
    border-radius: 50%;
}

#dark {
    background-image: url("/img/svg/Header\ images/darkMode.svg");
    background-size: contain;
    background-position: center;
}

#userNoti {
    width: 90px;
    height: 40px;
}

#userNoti {
    display: flex;
    width: 90px;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background-color: transparent;
}

.logoNav {
    width: 24px;
    height: 24px;
}

/*Comçando a estilizar a side bar*/

#homePage {
    display: flex;
    width: 1500px;
    height: 1024px;
    margin-top: 20px;
    align-items: flex-start;
    justify-content: flex-end;
}

#sideBar {
    width: 80px;
    height: 875px;
    margin-left: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #181B3A;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

#sideBar nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

#upIcons {
    margin-top: 50px;
}

#lowIcons {
    margin-bottom: 50px;
}

#homeEstatics {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 1440px;
    align-items: center;
}

#money {
    display: flex;
    width: 1228px;
    height: 176px;
    justify-content: center;
    /*  align-items: flex-start;  config do figma*/
    align-items: center;
    gap: 48px;
    flex-shrink: 0;
}

.din {
    width: 221px;
    height: 155px;
    padding: 10px 25px;
    flex-shrink: 0;
    border-radius: 10px;
    background: linear-gradient(92deg, #F05F22 1.5%, #E53F52 53.97%, rgba(229, 63, 82, 0.00) 146.29%);
}

#graphics {
    display: flex;
    width: 1228px;
    height: 305px;
    justify-content: center;
    align-items: flex-start;
    gap: 38px;
    flex-shrink: 0;

}

.estatics {

    width: 495px;
    height: 305px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #181B3A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.estatics2 {
    width: 645px;
    height: 305px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #181b3a;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0px 25px;
}

#informations {
    display: inline-flex;
    height: 343px;
    justify-content: center;
    align-items: flex-start;
    gap: 36px;
    flex-shrink: 0;
}

.status {
    width: 678px;
    height: 323px;
    border-radius: 10px;
    background: #181B3A;
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.status2 {

    width: 404px;
    height: 303px;
    padding: 20px 30px;
    border-radius: 10px;
    background: #181B3A;
    display: flex;
    flex-direction: column;
    justify-content: centery;
    
}

/*estilização dos conteiners de content*/
.din {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



.pay {
    width: 30;
    height: 30;
}

.ellipse4 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4F4F4;
}

.options {
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

/* conteúdos dos conteiners */

.iconCont {
    height: 30%;
    display: flex;
    justify-content: space-between;
}

.textCont {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.dinCont {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#sub-estatics {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.textGraph {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 435px;
    height: 55px;
    text-align: start;


}
.textGraphColor {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 435px;
    height: 55px;
    text-align: start;
display: flex;
align-items: flex-end;

}

.colorGraph {
    width: 210px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.subGraph {
    width: 210px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.circle {
    width: 105px;
    height: 105px;
}

#levelsGraph {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 150px;
}

#levelsGraph p {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.colorGraph p {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
}

#numGroup {
    width: 23px;
        height: 215px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }


.verticalNum {
    color: #AEAFBB;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 25px;
    font-family: 'Rethink Sans', sans-serif;
}

#numGroup2 {
    width: 615px;
    height: 15px;
    display: flex;
    gap: 65px;
    align-items:start;
    justify-content: flex-end;
}

#vertical {
    height: 100%;
    width: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #vertical > p {
    text-wrap: nowrap;
    display: flex;
    height: 40px;
    align-items: end;
  }

  #horizontal {
    padding: 10px;
    width: 95%;
    height: 72%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

.horizontalNum {
    color: #AEAFBB;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Rethink Sans', sans-serif;

}


#groupVector2 {
    width: 619.002px;
    height: 25px;
    display: flex;
    justify-content: flex-start;
  }

  #groupVector1 {
    width: 619.002px;
    height: 130px;
    display: flex;
    justify-content: flex-start;
  }
  .linha {
    position: absolute;
    width: 619px;
  }

  .cor {
    position: absolute;
    width: 619px;
  }


/* .teste {

    /*   background-image: linear-gradient(180deg, rgba(255, 131, 145, 0.58) 0%, rgba(77, 80, 112, 0.00) 94.79%);
    -webkit-background-clip:border-box;
    background-clip: border-box; 

}
 */
.users {
    width: 680px;
    height: 240px;
    flex-shrink: 0;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.namePhoto {
    width: 680px;
    height: 50px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}

.user-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.userInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   height: 40px;
}

.date{
color: #606060;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.RT-text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    
}
.textCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textCont > span{
color: #AEAFBB;
display: flex;
align-items: center;
gap: 5px;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.textCont > #active{
    color: #01D492;
}

.subCard-information{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}