@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap');

* {
    font-family: 'Rethink Sans', sans-serif;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
}

div {
    display: flex;
    background-color: blueviolet;
}

#logo {
    width: 80px;
    height: 80px;
}

#searchConteiner {
    width: 376px;
    height: 31px;
    background: #181B3A;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

#search {
    width: 360px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 10px;

    background-color: #181B3A;
    background-size: contain;
    color: #686b8f;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border: none;
    border-radius: 10px;
    outline: none;

    padding: 10px 0;
}

#icon7days {
    width: 106px;
    height: 36px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border-radius: 10px;
    background: #181B3A;
    color: #AEAFBB;


}

#icon7days p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#icon7days p img{
    margin-right: 5px;
}


#modeLD {
    width: 108px;
    height: 46px;
}

#modeLD input {
    width: 24px;
    height: 24px;
}

#userNoti {
    width: 90px;
    height: 40px;
}

.logoNav {
    width: 24px;
    height: 24px;
}